<?xml version="1.0" encoding="utf-8"?>
<config>
    <int name="START_FAILURE_DELAY_SECONDS">10</int>
    <int name="FAILURE_INTERVAL_SECONDS">10</int>
    <vector3d name="FAILURE_PROBABILITY">
      <x>0.5</x>
      <y>0</y>
      <z>0</z>
    </vector3d>
    <vector3d name="PARTS_PENATLY_FACTOR">
      <x>0.001</x>
      <y>0</y>
      <z>0</z>
    </vector3d>
    <string name="INTERMITTENT_EXPLOSION_MAP">BASE;TYPE:6</string>
    <int name="INTERMITTENT_EXPLOSION_BASE_WEIGHT">0</int>
    <int name="INTERMITTENT_EXPLOSION_6_WEIGHT">1</int>
    <string name="INTERMITTENT_DETATCH_MAP">BASE;PART:fuelLine;PART:strutConnector;PART:tailfin;PART:winglet;PART:SmallGearBay;PART:smallCtrlSrf</string>
    <int name="INTERMITTENT_DETATCH_BASE_WEIGHT">0</int>
    <int name="INTERMITTENT_DETATCH_fuelLine_WEIGHT">3</int>
    <int name="INTERMITTENT_DETATCH_strutConnector_WEIGHT">3</int>
    <int name="INTERMITTENT_DETATCH_tailfin_WEIGHT">3</int>
    <int name="INTERMITTENT_DETATCH_winglet_WEIGHT">3</int>
    <int name="INTERMITTENT_DETATCH_SmallGearBay_WEIGHT">3</int>
    <int name="INTERMITTENT_DETATCH_smallCtrlSrf_WEIGHT">3</int>
    <string name="INTERMITTENT_FUEL_LEAK_MAP">BASE;PART:fuelTank;PART:fuelTank1-2</string>
    <int name="INTERMITTENT_FUEL_LEAK_BASE_WEIGHT">0</int>
    <int name="INTERMITTENT_FUEL_LEAK_fuelTank_WEIGHT">1</int>
    <int name="INTERMITTENT_FUEL_LEAK_fuelTank1-2_WEIGHT">2</int>
</config>